jbra654-schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="ArrayOfProduct">
        <xs:sequence>
            <xs:element name="Product" type="Product" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Product">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="0" />
            <xs:element name="Description" type="xs:string" minOccurs="0" />
            <xs:element name="Price" type="xs:decimal" minOccurs="0" />
            <xs:element name="Origins" type="Origin" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required" />
    </xs:complexType>

    <xs:complexType name="Origin">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="Origin" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="ArrayOfProduct" type="ArrayOfProduct" />

</xs:schema>